<po-page-detail
	[p-title]="title">
	<form [formGroup]="formComentario">

        <div class="po-row po-pt-2" style="justify-content: flex-start;">
            <po-input 
			    class="po-sm-4 po-md-4 po-lg-3 po-xl-2"
			    formControlName="autor"
			    p-label="Nome">
		    </po-input>
        </div>

        <div class="po-row po-pt-2" style="justify-content: flex-start;">
            <po-textarea 
			    class="po-sm-4 po-md-4 po-lg-3 po-xl-3"
			    formControlName="comentario"            
			    p-label="Deixe seu Comentário">
		    </po-textarea>
        </div>
	</form>

	
	<div class="po-row po-pt-2" style="justify-content: flex-end;">
		<po-button 
			class="po-sm-3 po-md-3 po-lg-1 po-xl-1"
			(p-click)="salvar()"
			p-label="Salvar"></po-button>
		<po-button 
			class="po-sm-3 po-md-3 po-lg-1 po-xl-1"
			(p-click)="voltar()"
			p-label="Cancelar"></po-button>
	</div>
</po-page-detail>

